*{
  padding: 0;
  margin: 0;
}

.card{
    /* margin-top: 20vh; */
    display: inline-block;
    /* margin-left: 35vw; */
    background-color: rgb(230 230 134);
    box-shadow: 0px 6px 3px 6px rgb(0 0 0 / 26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px 15px 35px;
    border: #1e1e95 solid 10px;
}

.card img{
  width: 150%;
  
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.searchBtn{
  width: 80%;
  height: 30px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  background: #0e0e85;
  
}
button:hover{
  background: #1f1fd1;
}


.name {
  font-size: 23px;
}

.type{
  font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin: 5px;
    margin-bottom: 16px;
}

.btn {
  padding: 15px 30px;
  font-size: 15px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px 16px;
  transition: 0.3s ease;
  color: white;
  margin: 1.5rem;
}

.btn-round {
  border-radius: 8px;
}

.b-level-1.b-type-4 {
  border-radius: 50px;
  padding: 15px 35px;
  background: #dd2476;
}

.b-level-1.b-type-4:hover {
  border: 2px solid #dd2476;
  background: transparent;
  color: #dd2476;
}

input{
  border: none;
  border-radius: 1rem;
  height: 0.25rem;
  width: 100%;
  padding: 1rem;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

input:focus{
  outline: none;
}

#cover-spin{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.318);
  z-index:9999;
  /* display:none; */
  display: flex;
  justify-content: center;
  align-items: center;
}
